body {
  font-size: 14px;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.nav>li {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar-inverse .navbar-nav>li>a{
  color: black;
}

h3 {
  margin-top: 5px !important;
}

section {
  padding: 15px;
  box-sizing: border-box;
}

.content {
  border: 1px solid black;
  padding: 0 15px 15px;
  position: relative;
  background-color: lightgray;
}
